# Data & models
data/
runs/
*.pt
*.onnx

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar
